/*

Cliff Hangers Website
	Project 2
Main Stylesheet

Name: Tin Buzancic
Date: 4/22/14

*/

body {
	margin: 0px auto;
	padding: 0px;
	width: 98%;
	max-width: 1000px;
	min-width: 900px;
}