
/*

Lazer Academy and CSS
Project 1
Specific Merchandise Layout Page
Name: Tin Buzancic
Date: 3/7/14

*/

body {
	margin: 0px auto;
	padding: 0px;
	width: 100%;
	max-width: 1400px;
	min-width: 900px;
}